:root{
    /* Text */
    --very-dark-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    --grey-blue: hsl(237, 12%, 33%);
    --grey-light: hsl(240, 6%, 50%);

    /* Background */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /* Dividers */
    --light-blue: hsl(240, 5%, 91%);

    /* Font size */
    --body-font-size: 12px;

    /* Sizes */
    --main-width: 310px;
    --main-border: 1.2rem;
}

body{
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    /* font-size: var(--body-font-size); */
    background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}

.main{
    background-color: #fff;
    width: var(--main-width);
    height: 550px;
    border-radius: var(--main-border);
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 120px 1fr;
   margin-top: 6rem;
}

.main-image{
    background-image: url(/images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: 77%;
    background-position: center 80%;

}

.main-image__illustration{
    position: absolute;
    top: 0;
    background-image: url(/images/illustration-woman-online-mobile.svg);
    background-position: 0 15%;
    background-repeat: no-repeat;
    background-size: 90%;
    width: 310px;
    height: 300px;

}

.accordion{
    padding: 0 1rem;
}

.accordion-faq{
    margin-bottom: 1rem;
}

.accordion__title{
    color: var(--very-dark-blue);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}


.accordion-faq__title{
    font-size: 0.8rem;
    color: var(--grey-blue);
    font-weight: 300;
}

.accordion-faq__answers{
    color: var(--grey-light);
    font-size: .7rem;
    display: none;
}

.accordion-faq__question{
    border-bottom: 1px solid var(--light-blue);
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.accordion-faq__img{
    align-self: center;
}

.accordion-faq--active > .accordion-faq__answers{
    display: block !important;
}


@media (min-width: 350px){
    :root{
        --main-width: 350px;
        --main-border: 2rem;
    }

    .main{
        grid-template-rows: 120px 1fr;
    }

    .main-image__illustration{
        background-size: 95%;
        background-position: 55% 0%;
    }

    .main-image{
        background-size: 72%;
        background-position: 50% 50%;
    }

    .accordion{
        padding: 0 2rem;
    }
}